<form>
  <div style="margin-bottom: 20px">
    <div style="text-align: center">{{{formula}}}</div>
    
    <div style="margin-top: 6px">
      {{#if skills.choose}}
      <div>You have an Identity that can substitute for the Ability, so please choose which you want to use:</div>
      {{/if}}
    
      <div class="selectSkill" style="display: table; margin: 0 auto">
        {{#each skills.skills}}
        <div style="display: table-row">
          <div style="display: table-cell; padding-top: 4px">
            <label style="cursor: pointer; padding-right: 20px">
              <input type="radio" name="selectedSkill" value="{{@index}}" {{#if this.selected}} checked {{/if}}
                style="margin-right: 10px; {{#unless ../skills.choose}}display: none;{{/unless}}" />
              <b>{{this.using}}</b>
            </label>
          </div>
          <div style="display: table-cell; padding-top: 4px">
            {{this.value}}
          </div>
        </div>
        {{/each}}
      </div>
    </div>
    
    {{#if hunch}}
    <div style="text-align: center; margin: 5px 0 5px 0">
      Against a <b>Hunch</b> outcome of {{hunch}}
    </div>
    {{/if}}
  </div>
</form>